<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{59,99}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{388,395},{59,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero1_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,82}</string>
                <key>spriteSourceSize</key>
                <string>{59,84}</string>
                <key>textureRect</key>
                <string>{{388,496},{59,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero1_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,89}</string>
                <key>spriteSourceSize</key>
                <string>{55,89}</string>
                <key>textureRect</key>
                <string>{{449,395},{55,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero1_miss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{388,282},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,280}</string>
                <key>spriteSourceSize</key>
                <string>{88,280}</string>
                <key>textureRect</key>
                <string>{{298,285},{88,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,279}</string>
                <key>spriteSourceSize</key>
                <string>{91,279}</string>
                <key>textureRect</key>
                <string>{{205,285},{91,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,260}</string>
                <key>spriteSourceSize</key>
                <string>{94,260}</string>
                <key>textureRect</key>
                <string>{{1,312},{92,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2_down3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,295}</string>
                <key>spriteSourceSize</key>
                <string>{100,295}</string>
                <key>textureRect</key>
                <string>{{103,1},{100,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2_down4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,278}</string>
                <key>spriteSourceSize</key>
                <string>{100,278}</string>
                <key>textureRect</key>
                <string>{{103,298},{100,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2_down5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,282}</string>
                <key>spriteSourceSize</key>
                <string>{100,282}</string>
                <key>textureRect</key>
                <string>{{205,1},{100,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2_down6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,279}</string>
                <key>spriteSourceSize</key>
                <string>{100,279}</string>
                <key>textureRect</key>
                <string>{{307,1},{100,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2_down7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,309}</string>
                <key>spriteSourceSize</key>
                <string>{100,309}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2_miss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{94,277}</string>
                <key>spriteSourceSize</key>
                <string>{100,283}</string>
                <key>textureRect</key>
                <string>{{409,1},{94,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{505,577}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c783b9583e44a2fe7ded8728eeb820f:5e962b1fe41d0c22b009ee4a7aada777:e44e28a7f983377b8bb0c97d886e5bb7$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
